.checkoutProduct{
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;
}
.checkout_productInfo{
    padding-left: 20px;
}
.checkout_productInfo > button{
    background: #ff9f00;
    border: 1px solid;
    margin-top: 10px;
    border-color: #a88734 #9c7e31 #846a29;
    color: #111;
}
.checkout_productRating{
    display: flex;
}
.checkout_productTitle{
    font-size: 17px;
    font-weight:800;
}
.checkout_productImage{
    object-fit: contain;
    width: 180px;
    height: 180px;
}